In [219]:
import numpy as np
import pandas as pd

In [220]:
insta_data = pd.read_csv("INSTA.csv")
td = pd.read_csv("cov.csv" )

In [221]:
td = td.drop(td.columns[0], axis=1)

In [222]:
td.isnull().sum()

joined                  0
username                0
name                    4
category            17961
score                   2
tweets                  0
following               0
followers               0
likes                   0
user_id             11095
date_added          11095
status              11095
verified                0
geo_enabled             0
suspended               0
profile_location    24862
listed_count            0
Unnamed: 17         28982
dtype: int64

In [223]:
td.drop(td[td['score'] > 1].index, inplace = True)

In [224]:
td

,joined,username,name,category,score,tweets,following,followers,likes,user_id,date_added,status,verified,geo_enabled,suspended,profile_location,listed_count,Unnamed: 17
0,2019-10-01 00:00:00,JoLynnBlake13,"The hammer of Truth, Justice & the American Way!",Trollbot,0.81,24113,7514,7334,10,NaN,NaN,NaN,False,False,True,NaN,0,NaN
1,2018-09-01 00:00:00,BreLa1212,Bre-la,Trollbot,0.80,7145,126,54,9749,NaN,NaN,NaN,False,False,False,"Hawaii, USA",5,NaN
2,2015-02-01 00:00:00,NotMattrellen,Probably Not Mattrellen,Trollbot,0.87,667,113,65,2214,NaN,NaN,NaN,False,False,False,NaN,0,NaN
3,2018-05-01 00:00:00,lizthemomager,Aiabeth,Trollbot,0.77,2657,739,448,743,NaN,NaN,NaN,False,False,True,NaN,0,NaN
4,2011-03-01 00:00:00,ipmedic,Jeff Long,Trollbot,0.80,2795,4734,3540,10111,NaN,NaN,NaN,False,True,False,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30970,2009-05-11 00:00:00,@DaniloJTR,Danilo Torrealba,NaN,0.23,3542,1562,498,19604,8.773052e+07,2020-09-11 00:00:00,Active,none,none,False,"{'id': '043383f8b2b79918', 'url': 'https://api...",0,NaN
30971,2019-03-11 00:00:00,@cxxks___,Cooks Stan Account ?,NaN,0.03,72501,1490,1817,68878,1.080727e+18,2020-09-11 00:00:00,Active,none,True,False,none,2,NaN
30972,11-29-2020,@karnjirwala,Karnjirwala,NaN,0.14,39,4,0,6,1.321931e+18,2020-09-11 00:00:00,Active,none,none,False,none,0,NaN
30973,2009-11-11 00:00:00,@Beyond_I_Do,Rev. Meghan Gurley - Creative Clergy,NaN,0.18,85513,889,2245,8712,3.047285e+07,2020-09-11 00:00:00,Active,none,none,False,none,66,NaN
30974,11-22-2020,@Nirvana09876,Nirvana,NaN,0.15,15113,539,610,35056,1.297171e+18,2020-09-11 00:00:00,Active,none,none,False,none,0,NaN

In [225]:
td.loc[td['category'] == "Normal"]

,joined,username,name,category,score,tweets,following,followers,likes,user_id,date_added,status,verified,geo_enabled,suspended,profile_location,listed_count,Unnamed: 17
11096,2009-04-27 00:00:00,@milsad,MilsaD,Normal,0.17,904,73,22,418,3.578927e+07,07-14-2020,Active,False,True,False,NaN,1,NaN
11098,2017-07-05 00:00:00,@Kimmi11123,Kimmy Ann,Normal,0.51,1064,237,81,3755,8.826239e+17,07-14-2020,Active,False,False,False,NaN,5,NaN
11100,2009-06-23 00:00:00,@amyewalter,amy walter,Normal,0.01,15792,1688,166366,16300,5.007351e+07,07-14-2020,Active,True,False,False,NaN,3499,NaN
11102,2018-08-02 00:00:00,@FernandoBenev15,Fernando Benevides,Normal,0.68,25552,2604,1162,88726,1.025061e+18,07-14-2020,Active,False,False,False,"Belo Horizonte, Brazil",0,NaN
11104,2020-05-22 00:00:00,@Walmart3301,Walmart,Normal,0.23,19,33,7,46,1.263656e+18,07-14-2020,Active,False,False,False,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,2012-07-05 00:00:00,@AlexSnelleman,Alex,Normal,0.13,4099,127,65,380,7.384821e+08,07-27-2020,Active,False,True,False,NaN,1,NaN
16997,2012-07-19 00:00:00,@VirtanensStuff,hoot,Normal,0.17,11249,198,123,16377,8.904168e+08,07-27-2020,Active,False,True,False,NaN,4,NaN
16999,2009-07-23 00:00:00,@Joop_nl,Joop,Normal,0.22,60345,1176,25668,466,7.661908e+07,07-27-2020,Active,False,False,False,NaN,771,NaN
17001,2020-07-27 00:00:00,@Samanth52914076,Samantha Wang,Normal,0.00,4,7,0,3,1.287697e+18,07-27-2020,Active,False,False,False,NaN,0,NaN
17003,2016-07-25 00:00:00,@RSSlibrary,Starla Hazen,Normal,0.00,791,1266,533,2096,7.030046e+17,07-27-2020,Active,False,False,False,NaN,8,NaN

In [226]:
td.loc[td["score"] < 0.50, "category"] = "Normal"

In [227]:
td.dropna(subset = ['category'], inplace= True)

In [228]:
td.loc[td["category"] == "Trollbot", "category"] = 1
td.loc[td["category"] == "Normal", "category"] = 0
#td.loc[td["verified"] == "False", "verified"] = 0
#td.loc[td["verified"] == "True", "verified"] = 1
#td.loc[td["geo_enabled"] == "False", "geo_enabled"] = 0
#td.loc[td["geo_enabled"] == "True", "geo_enabled"] = 1
#td.loc[td["suspended"] == False, "suspended"] = 0
#td.loc[td["suspended"] == True, "suspended"] = 1

# Logistic Regression

In [381]:
X = td.drop(columns=["score","joined","username","name","category","user_id","date_added","status","profile_location","listed_count","suspended","geo_enabled","verified","Unnamed: 17"],axis=1)
y = td["category"]

In [382]:
y = y.astype('int') 
X.head()

   tweets  following  followers  likes
0   24113       7514       7334     10
1    7145        126         54   9749
2     667        113         65   2214
3    2657        739        448    743
4    2795       4734       3540  10111

In [383]:
from sklearn.model_selection import train_test_split

In [384]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=4)

In [385]:
from sklearn.preprocessing import StandardScaler

In [386]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [387]:
from sklearn.linear_model import LogisticRegression

In [388]:
logmodel = LogisticRegression(random_state=4)

In [389]:
logmodel.fit(X_train, y_train)

LogisticRegression(random_state=4)

In [390]:
predictions = logmodel.predict(X_test)

In [391]:
from sklearn.metrics import classification_report

In [392]:
classification_report(y_test,predictions)

'              precision    recall  f1-score   support\n\n           0       0.61      1.00      0.76      4726\n           1       0.70      0.01      0.01      3057\n\n    accuracy                           0.61      7783\n   macro avg       0.66      0.50      0.38      7783\nweighted avg       0.65      0.61      0.46      7783\n'

In [393]:
from sklearn.metrics import confusion_matrix

In [394]:
confusion_matrix(y_test,predictions)

array([[4718,    8],
       [3038,   19]], dtype=int64)

In [395]:
from sklearn.metrics import accuracy_score

In [396]:
accuracy_score(y_test,predictions)

0.6086342027495825

# Random Forest

In [397]:
from sklearn.ensemble import RandomForestClassifier
td=RandomForestClassifier(n_estimators=50)
td.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

In [399]:
td.score(X_test,y_test)

0.6802004368495439